*{
    padding: 0px;
    margin: 0px;
}
.navigation{
display: flex;
justify-content: space-between;
padding: 16px 120px;
align-items: center;
background-color: #FFFFFF;
}

 .nav-center{
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 16px;
    font-style: medium;
}
.nav-center a{
    text-decoration: none;
}
.top-btn{
    background-color:#30B868;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    cursor: pointer;
}
.top-btn:hover{
    background:  #276749;
}
 .banner{
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 1440px;
    background:url(./assets/hero-bg.png) center/no-repeat;
    background-size: cover;
    /* background: rgba(0,0,0,0.55); */
   height: 674px;
 }
 .container{
    color: white;
    text-align: center;
    max-width: 700px;
    
 }
 .badge{
    background-color: white;
    color:  #2f855a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
 }
 .banner h1{
    font-weight: 700px;
    font-size: 72px;
    margin: 20px 0;
 }
 .banner h1 span{
    color:#30B868 ;
 }
 .banner-btn{
    margin-top: 32px;
 }
 .vdo-btn{
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    margin-left: 15px;
    width: 164px;
    height: 44px;
    
 }
 .primary-button{
    background-color:#30B868;
    border-radius: 4px;
    width: 200px;
    height: 44px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
 }