*{
    padding: 0px;
    margin: 0px;
}
.navigation{
display: flex;
justify-content: space-between;
padding: 16px 120px;
align-items: center;
background-color: #FFFFFF;
}

 .nav-center{
    list-style: none;
    
    display: flex;
    justify-content: space-between;
    gap: 32px;
    font-size: 16px;
    font-style: medium;
}
.nav-center a{
    text-decoration: none;
}
.top-btn{
    background-color:#30B868;
    border-radius: 4px;
    width: 164px;
    height: 44px;
    cursor: pointer;
}
.top-btn:hover{
    background:  #276749;
}
.primary-button:hover{
background:  #276749;
}
 .banner{
   
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    max-width: 100%;
    background: url("./assets/hero-bg.png");
    background-size: cover;
    /* background: rgba(0,0,0,0.55); */
   height: 674px;
 }
 .container{
    color: white;
    text-align: center;
    max-width: 700px;
    
 }
 .badge{
    background-color: white;
    color:  #2f855a;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 14px;
 }
 .banner h1{
    font-weight: 700px;
    font-size: 72px;
    margin: 20px 0;
 }
 .banner h1 span{
    color:#30B868 ;
 }
 .banner-btn{
    margin-top: 32px;
    display: flex;
    justify-content: center;
 }
 .vdo-btn{
    background: transparent;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    padding: 10px 20px;
    color: white;
    margin-left: 15px;
    width: 164px;
    height: 44px;
    
 }
 .primary-button{
    background-color:#30B868;
    border-radius: 4px;
    width: 200px;
    height: 44px;
    cursor: pointer;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    
 }
 .problem{
    padding: 80px;
    text-align: center;
 }
 .problem-head{
    display: flex;
    gap: 20px;
    margin-top: 40px;
 }
 .head{
    background: white;
    padding: 30px;
    border-radius: 8px;
    width: 25%;
    
    box-shadow: 0 0px 8px 0;
 }
 .icon{
    background: rgba(249, 85, 85, 1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 24px;
 }
 .solution{
    background-color:#FFFFFF;
   display: flex;
     justify-content: center;
    align-items: center;
    padding: 120px;
    gap: 60px;
    width: 1600px;
    height: 840px;
 }
 .solution-head{
    width: 1360px;
height: 600px;
display: flex;
flex-direction: row;
justify-content: flex-start;
align-items: center;
gap: 60;
 }
 .solution-img{
    width: 100%;
    border-radius: 12px;
    width: 600px;
    height: 600px;
    
 }
 .solution-content{
    width: 60%;
    height: 396px;
    gap: 40px;
     margin: 120px 60px 120px 60px;
 }
 .solution-contentHead{
  width: 700px;
height: 228px;
 }
 .solution-content .tag{
    width: 700px;
    height: 20px;
    color: #30B868;
    font-size: 16px;
    font-style: medium;
    text-transform: uppercase;
    letter-spacing: 0%;
    font-weight: 500px;
    line-height: 20px;
    text-align: left;
   
 }
 .solution-content h2{
    width: 700px;
    height: 116px;
    color: #001931;
    font-size: 48px;
    font-weight: 700px;
    line-height: 58px;
    text-align: left;
    text-transform: capitalize;
    padding-top: 16px;
    
 }
 .solution-content p{
    width: 700px;
    height: 60px;
    color: #627382;
    font-size: 16px;
    font-style: normal;
    font-weight: 400px;
    line-height: 20px;
    padding-top: 16px;
 }
 .solution-content ul{
    list-style: none;
    color: #001931;
    padding-top: 40px;
    gap: 16px;
    margin-top: 20px;

 }
 .img-tag{
    display: flex;
    width: 700px;
    height: 20px;
    gap: 6px;
    margin-bottom: 16px;
 }
 .cta{
    width: 1540px;
    height: 506px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40;
    padding: 2px 120px 120px 120px;
    background: rgba(255, 255, 255, 1);
 }
 .cta .cta-container{
    width: 1360px;
    height: 284px;
    align-items: center;
    padding: 80px 40px 80px 40px;
    border-radius: 12px;
    background:rgba(247, 246, 242, 1);
    text-align: center;
 }
 .container-head{
    width: 1280px;
    height: 112px;
    gap: 16px;
 }
 .container-head h1{
    font-style: bold;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    text-transform: capitalize;
    color: var(--Style, rgba(0, 25, 49, 1));
 }
 .container-head p{
    width: 1280px;
    height: 48px;
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-style: Regular;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
 }
 .container-item{
    gap: 26px;
 }
 .container-item p{
    color: var(--#627382, rgba(98, 115, 130, 1));
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 80px;
 }
 